configuration {
  font: "JetBrainsMono Nerd Font Mono 12";
	show-icons: true;
	case-sensitive: true;
	sort: true;
	cycle: true;
	sorting-method: "normal";
	steal-focus: true;
  modi: "window,run,drun,emoji";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
