/* Paleta de cores ambar */
@define-color amber #ffb000;     
@define-color ocre #d8a657;       
@define-color base #30272b;       
@define-color alert #925633;     
@define-color split #443c40;     
@define-color yellow #eed49f;    

* {
    font-family: "JetBrains Mono Nerd Font", monospace;
    border: none;
    min-height: 2rem;
    border-radius: 2; 
}

window#waybar {
    background-color: rgba(48, 39, 43, 0.85);
    border-bottom: 2px solid @alert;
    color: @amber;
    padding: 2px 12px;
    transition: 0.3s all;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0 1rem;
    color: @ocre;
    border: none;
}

.modules-center {
    padding: 2px;
}

#custom-icon {
    font-size: 15px;
    padding-right: 5px;
    color: @amber;
    text-shadow: 0 0 5px rgba(255, 176, 0, 0.7);
}

#window {
    font-weight: bold;
    color: @ocre;
    transition: all 0.3s ease;
}

#workspaces {
    font-weight: bold;
    font-size: 12px;
    border: none;
}

#workspaces button {
    color: @ocre;
    border-radius: 0;
    transition: 0.2s ease-out;
    border-bottom: 2px solid transparent;
    padding: 0 8px;
}

#workspaces button.active {
    border-bottom: 2px solid @amber;
    color: @amber;
    text-shadow: 0 0 5px rgba(255, 176, 0, 0.5);
}

#workspaces button.urgent {
    border-bottom: 2px solid @alert;
    color: @alert;
}

#workspaces button:hover {
    background: rgba(146, 86, 51, 0.3);
    color: @amber;
}

#tray {
    color: @ocre;
}

#clock, #battery, #network {
    transition: all 0.3s ease;
    font-weight: bold;
		color: @ocre;
    margin: 0 5px;
}

#clock:hover, #battery:hover, #network:hover {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @alert;
}

tooltip {
    background: @base;
    border: 1px solid @alert;
}

tooltip label {
    color: @amber;
}
